.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px tan;
}
.heading_div
{
    float: none ;
    background: rgb(238, 127, 183);
    padding: 10px;
    border-radius: 20px;
    color: aqua;
    box-shadow: 5px 5px 5px teal;
}
.heading_div2
{
    font-size: 18px;
}
